<div mat-dialog-content class="container-fluid m-0">
    <div class="row" *ngIf="!FuenteFinanciamientoForm">
        <div class="col">
            <div class="d-flex justify-content-center">
                <div class="spinner-grow text-primary" role="status"></div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="FuenteFinanciamientoForm">
        <div class="col py-2">
            <h5 class="card-title text-center text-primary">{{titulo}}</h5>
        </div>
    </div>
    <form [formGroup]="FuenteFinanciamientoForm" *ngIf="FuenteFinanciamientoForm">
        <div class="row border-bottom border-dark my-3 py-3">
            <div class="col-12 col-sm-4">
                <div class="form-group">
                    <label>Codigo:</label>
                    <mat-select class="form-control" formControlName="FuenteSeleccionada">
                        <cdk-virtual-scroll-viewport itemSize="50" minBufferPx="200" maxBufferPx="400"
                            class="example-viewport">
                            <mat-option *cdkVirtualFor="let fuente of FuentesFinanciamiento" class="example-item"
                                [value]="fuente">
                                {{fuente.Codigo}}
                            </mat-option>
                        </cdk-virtual-scroll-viewport>
                    </mat-select>
                </div>
            </div>
            <div class="col-12 col-sm-8">
                <div class="form-group">
                    <label>Nombre:</label>
                    <span class="form-control overflow">
                        {{FuenteFinanciamientoForm.get('FuenteSeleccionada').value ? FuenteFinanciamientoForm.get('FuenteSeleccionada').value.Nombre : '' }}
                    </span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Valor Fuente de Financiamiento:</label>
                    <span class="form-control overflow">
                        {{FuenteFinanciamientoForm.get('FuenteSeleccionada').value ? (FuenteFinanciamientoForm.get('FuenteSeleccionada').value.ValorActual | currency ) : '' }}
                    </span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Valor Disponible Actividad:</label>
                    <span class="form-control overflow">
                        {{ ValorDisponible | currency }}
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Valor a Asignar:</label>
                    <input currencyMask [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" type="text"
                        class="form-control text-left" placeholder="" formControlName="Valor">
                    <ng-container *ngIf="FuenteFinanciamientoForm && !(FuenteFinanciamientoForm.controls.Valor.errors)">
                        <small>Valor Disponible: {{ Valor2 | currency }}</small>
                    </ng-container>
                    <ng-container *ngIf="FuenteFinanciamientoForm.controls.Valor.errors">
                        <small *ngIf="FuenteFinanciamientoForm.controls.Valor.errors.max" class="text-danger">
                            El valor no debe pasar el maximo valor Disponible {{ Valor2 | currency }}</small>
                    </ng-container>

                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>Porcentaje:</label>
                    <div class="input-group">
                        <span class="form-control overflow">
                            {{FuenteFinanciamientoForm.get('Valor').value ? (FuenteFinanciamientoForm.get('Valor').value / data.Valor | percent : '1.2-2') : '' }}
                        </span>
                        <div class="input-group-append">
                            <span class="input-group-text">%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-start">
                <button [disabled]="FuenteFinanciamientoForm.invalid || !FuenteFinanciamientoForm.touched" type="button"
                    class="btn btn-primary px-3 py-2 my-3 text-light" (click)="OnSubmit()">
                    {{boton}}
                </button>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <button type="button" class="btn btn-light px-3 py-2 my-3 border" (click)=OnClose()>Cancelar</button>
            </div>
        </div>
    </form>
</div>