<div class="container">
    <div class="row">
        <div class="col py-2">
            <h5 class="card-title text-center text-primary">Metas</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Lineamiento:</label>
                <select class="form-control py-2" id="exampleFormControlSelect1" [(ngModel)]="LineamientoSeleccionado"
                    (ngModelChange)="SeleccionarLineamiento($event)">
                    <ng-container *ngFor="let lineamiento of Lineamientos">
                        <option [ngValue]="lineamiento">{{lineamiento.Numero}}</option>
                    </ng-container>
                </select>
            </div>
        </div>
        <div class="col-8">
            <div class="form-group">
                <label>Nombre:</label>
                <span class="form-control py-2 overflow">
                    {{ LineamientoSeleccionado ? LineamientoSeleccionado.Nombre : '' }}
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label>Rubro:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        <i class="fas fa-plus"></i>
                    </button>

                </div>
                <span class="form-control overflow">{{rubroSeleccionado ? rubroSeleccionado.data.Codigo : ''}}</span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label>Descripcion:</label>
                <span class="form-control">{{rubroSeleccionado ? rubroSeleccionado.data.Nombre : ''}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col px-0">
            <ngx-general-table [config]="configuracion" [datos]="Metas"></ngx-general-table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Seleccione Rubro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ngx-arbol-rubro [FuenteRecurso]="fuenteRecurso"></ngx-arbol-rubro>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Continuar</button>
            </div>
        </div>
    </div>
</div>