<div class="container-fluid">
    <div class="row" *ngIf="FichaTecnicaForm">
        <div class="col py-2">
            <h5 *ngIf="titulo" class="card-title text-center text-primary">{{titulo}}</h5>
        </div>
    </div>
    <div class="row" *ngIf="FichaTecnicaForm">
        <div class="col py-2"></div>
    </div>
    <form [formGroup]="FichaTecnicaForm" *ngIf="FichaTecnicaForm">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>{{ 'GLOBAL.meta' | translate}}:</label>
                    <mat-select class="form-control" formControlName="MetaId">
                        <cdk-virtual-scroll-viewport itemSize="50" minBufferPx="200" maxBufferPx="400" class="example-viewport selector">
                            <mat-option *cdkVirtualFor="let meta of Metas" class="example-item selector" [value]="meta.Id">
                                {{meta.Numero}}
                            </mat-option>
                        </cdk-virtual-scroll-viewport>
                    </mat-select>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ 'GLOBAL.proceso' | translate}}:</label>
                    <input type="text" class="form-control py-2" aria-describedby="search-table"
                        formControlName="Proceso" placeholder="">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ 'GLOBAL.magnitud' | translate}}:</label>
                    <input type="number" class="form-control py-2" aria-describedby="search-table"
                        formControlName="Magnitud" placeholder="">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ 'GLOBAL.unidad_medida' | translate}}:</label>
                    <input type="text" class="form-control py-2" aria-describedby="search-table"
                        formControlName="UnidadMedida" placeholder="">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ 'GLOBAL.descripcion' | translate}}:</label>
                    <textarea class="form-control" aria-label="With textarea" formControlName="Descripción"
                        rows="2"></textarea>
                </div>
            </div>
            
            <div class="col-6 d-flex justify-content-start">
                <button [disabled]="FichaTecnicaForm.invalid || !FichaTecnicaForm.touched" type="button"
                    class="btn btn-primary px-3 py-2 my-3 text-light" (click)="OnSubmit()">{{boton}}</button>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <button type="button" class="btn btn-light px-3 py-2 my-3 border" (click)="OnClose()">{{ 'GLOBAL.cancelar' | translate}}</button>
            </div>
        </div>
    </form>
</div>