<div class="container">
    <div class="row">
        <div class="col py-2">
            <h5 class="card-title text-center text-primary">PLAN DE ADQUISICIONES</h5>
        </div>
    </div>
    <div class="row">
        <div class="col px-0">
            <ng-container *ngFor="let table of configuracion">
                <div class="py-2">
                    <ngx-general-table [config]="table" [datos]="datosPrueba"></ngx-general-table>
                </div>
            </ng-container>
        </div>
        <div class="col-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-8 border border-light bg-primary text-center text-light py-2 font-weight-bold">
                        TOTAL PLAN DE ADQUISICIONES FUNCIONAMIENTO E INVERSION 2020:
                    </div>
                    <div class="col-4 border border-light bg-primary text-center text-light py-2 font-weight-bold">
                        {{ '123421341234' | currency }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <button type="button" class="btn btn-light px-3 py-2 my-3 border" (click)="OnCancel()">Cancelar</button>
        </div>
    </div>
</div>