<form [formGroup]="MetaForm" *ngIf="MetaForm">
    <fieldset [attr.disabled]="Metas ? null: 'disabled'">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 pt-3 border-right border-dark d-flex align-items-center justify-content-end text-right">
                    <p>Meta:</p>
                </div>
                <div class="col-3 pt-3">
                    <ng-container>
                        <div class="form-group">
                            <mat-select class="form-control" formControlName="MetaSeleccionada">
                                <cdk-virtual-scroll-viewport itemSize="50" minBufferPx="200" maxBufferPx="400" class="example-viewport">
                                    <mat-option *cdkVirtualFor="let meta of Metas" class="example-item" [value]="meta">
                                        {{meta.LineamientoId.Numero + '.' + meta.Numero}}
                                    </mat-option>
                                </cdk-virtual-scroll-viewport>
                            </mat-select>
                        </div>
                    </ng-container>
                </div>
                <div class="col-6 pt-3">
                    <div class="form-group">
                        <span class="form-control overflow">
                            {{MetaForm.get('MetaSeleccionada').value ? MetaForm.get('MetaSeleccionada').value.Nombre : '' }}
                        </span>
                    </div>
                </div>
                <div class="col-3 border-right border-dark d-flex align-items-center justify-content-end text-right">
                    <p>Producto:</p>
                </div>
                <div class="col-3">
                    <ng-container *ngIf="!Productos">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-grow text-primary" role="status"></div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="Productos">
                        <div class="form-group">
                            <mat-select class="form-control" formControlName="ProductoSeleccionado">
                                <cdk-virtual-scroll-viewport itemSize="50" minBufferPx="200" maxBufferPx="400" class="example-viewport">
                                    <mat-option *cdkVirtualFor="let producto of Productos" class="example-item" [value]="producto">
                                        {{producto.Codigo}}
                                    </mat-option>
                                </cdk-virtual-scroll-viewport>
                            </mat-select>
                        </div>
                    </ng-container>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <span class="form-control overflow">
                            {{MetaForm.get('ProductoSeleccionado').value ? MetaForm.get('ProductoSeleccionado').value.Nombre : '' }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>