<div class="container-fluid">
    <div class="row" *ngIf="ProductosAsociadosForm">
        <div class="col py-2">
            <h5 class="card-title text-center text-primary">{{titulo}}</h5>
        </div>
    </div>
    <div class="row" *ngIf="ProductosAsociadosForm">
        <div class="col py-2"></div>
    </div>
    <form [formGroup]="ProductosAsociadosForm" *ngIf="ProductosAsociadosForm">
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label>Código:</label>
                    <div class="form-group">
                        <mat-select class="form-control" formControlName="Elemento">
                            <cdk-virtual-scroll-viewport itemSize="50" minBufferPx="200" maxBufferPx="400"
                                class="example-viewport">
                                <mat-option *cdkVirtualFor="let producto of Elementos" class="example-item"
                                    [value]="producto">
                                    {{producto.Codigo}}
                                </mat-option>
                            </cdk-virtual-scroll-viewport>
                        </mat-select>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="form-group">
                    <label>Nombre:</label>
                    <span class="form-control overflow">
                        {{ProductosAsociadosForm.get('Elemento').value ? ProductosAsociadosForm.get('Elemento').value.Nombre : '' }}
                    </span>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>Porcentaje de Distribucion:</label>
                    <div class="input-group">
                        <input type="number" class="form-control text-left" placeholder="" formControlName="PorcentajeDistribucion">
                        <div class="input-group-append">
                            <span class="input-group-text">%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-start">
                <button [disabled]="ProductosAsociadosForm.invalid || !ProductosAsociadosForm.touched" type="button"
                    class="btn btn-primary px-3 py-2 my-3 text-light" (click)="OnSubmit()" data-dismiss="modal">
                    {{boton}}
                </button>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <button type="button" class="btn btn-light px-3 py-2 my-3 border" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </form>
</div>