<div class="container">
    <div class="row">
        <div class="col py-2">
            <h5 class="card-title text-center text-primary">Lineamientos</h5>
        </div>
    </div>



    <div class="row">
        <div class="col-5">
            <form [formGroup]="LineamientoForm" *ngIf="LineamientoForm">
                <ng-container *ngIf="!fuentesRecurso">
                    <div class="d-flex justify-content-center py-3">
                        <div class="spinner-grow text-primary" role="status"></div>
                    </div>
                </ng-container>
                <ng-container *ngIf="fuentesRecurso">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Fuente de Recurso:</label>
                        <select class="form-control py-2" id="exampleFormControlSelect1"
                            formControlName="FuenteSeleccionada" (ngModelChange)="SeleccionarFuente($event)">
                            <ng-container *ngFor="let fuente of fuentesRecurso">
                                <option [ngValue]="fuente">{{fuente.Codigo}}</option>
                            </ng-container>
                        </select>
                    </div>
                </ng-container>
            </form>
        </div>
        <div class="col-7">
            <div class="form-group">
                <label>Descripcion:</label>
                <span class="form-control py-2">
                    {{LineamientoForm.get('FuenteSeleccionada').value ? LineamientoForm.get('FuenteSeleccionada').value.data.Nombre : '' }}
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col px-0">
            <ngx-general-table [config]="configuracion" [datos]="Lineamientos"></ngx-general-table>
        </div>
    </div>
</div>