<div class="container">
    <div class="row">
        <div class="col py-2">
            <h5 class="card-title text-center text-primary">Lineamientos</h5>
        </div>
    </div>


    
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label>Fuente de Recurso:</label>
                <input type="text" class="form-control py-2" id="buscador-tabla"
                    aria-describedby="search-table" placeholder="">
            </div>
        </div>
        <div class="col-8">
            <div class="form-group">
                <label>Descripcion:</label>
                <input type="text" disabled="true" class="form-control py-2" id="buscador-tabla"
                    aria-describedby="search-table" placeholder="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col px-0">
            <ngx-general-table [config]="configuracion" [datos]="datosPrueba"></ngx-general-table>
        </div>
    </div>
</div>