<div class="container-fluid" *ngIf="config">
  <div class="row">
    <div class="col">
      <div class="form-group mt-3" *ngIf="config.filter">
        <input type="text" class="form-control py-2" id="buscador-tabla" aria-describedby="search-table"
          placeholder="Campo de Busqueda" [(ngModel)]="stringBusqueda">
      </div>
      <div class="table-responsive">

        <table class="table table-bordered table-hover">
          <thead class="bg-primary text-white">
            <tr *ngIf="config.title">
              <th scope="col" colspan="100" [class]="config.title.class">
                {{config.title.name}}
              </th>
            </tr>
            <tr>
              <ng-container *ngFor="let element of config.dataConfig">
                <th scope="col" [class]="element.title.class">{{element.title.name}}</th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of datosPrueba | filterTable:stringBusqueda ">
              <ng-container *ngFor="let data of config.dataConfig">
                <ng-container *ngIf="!data.pipe.isArray">
                  <td [class]="data.pipe.class">
                    {{  data.pipe.functionPipe ? (items[data.key] | customTable:data.pipe.functionPipe) : items[data.key] }}
                  </td>
                </ng-container>
                <ng-container *ngIf="data.pipe.isArray">
                  <td [class]="data.pipe.class">
                    <ng-container *ngFor="let value of items[data.key]">
                      <span>{{value}}</span>
                    </ng-container>
                  </td>
                </ng-container>

              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>