<div class="container">
    <div class="row">
        <div class="col">
            <ngx-datos-generales-iniciales [Title]="titulo"></ngx-datos-generales-iniciales>
        </div>
    </div>
    <div class="row">
        <div class="col py-2"></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <div class="border-dark border-bottom">
                                    <ngx-seleccion-rubro></ngx-seleccion-rubro>
                                </div>
                                <div class="border-dark border-bottom">
                                    <ngx-seleccion-meta-producto></ngx-seleccion-meta-producto>
                                </div>
                                <div class="border-dark border-bottom">
                                    <ngx-seleccion-fuente></ngx-seleccion-fuente>
                                </div>
                                <div class="border-dark border-bottom">
                                    <ngx-seleccion-datos-generales></ngx-seleccion-datos-generales>
                                </div>
                                <div class=" py-2">
                                    <ngx-tabla-codificacion-arka></ngx-tabla-codificacion-arka>
                                </div>
                                <div class=" py-2">
                                    <ngx-tabla-actividades-fuentes></ngx-tabla-actividades-fuentes>
                                </div>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>