<div class="container">
    <div class="row">
        <div class="col">
            <ngx-datos-generales-iniciales [Title]="titulo"></ngx-datos-generales-iniciales>
        </div>
    </div>
    <div class="row">
        <div class="col py-2"></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <mat-vertical-stepper>
                                    <mat-step>
                                        <ng-template matStepLabel>Rubro Asociado</ng-template>
                                        <div class="pt-2">
                                            <ngx-seleccion-rubro></ngx-seleccion-rubro>
                                        </div>
                                        <div class="d-flex justify-content-end p-3">
                                            <button class="btn btn-primary text-light" matStepperNext>Siguiente</button>
                                        </div>
                                    </mat-step>
                                    <mat-step *ngIf="!TipoDePlan">
                                        <ng-template matStepLabel>Metas Asociadas</ng-template>
                                        <div class="pt-2">
                                            <ngx-metas-asociadas></ngx-metas-asociadas>
                                        </div>
                                        <div class="d-flex justify-content-between p-3">
                                            <button class="btn btn-primary text-light" matStepperPrevious>Atrás</button>
                                            <button class="btn btn-primary text-light" matStepperNext>Siguiente</button>
                                        </div>
                                    </mat-step>
                                    <mat-step *ngIf="!TipoDePlan">
                                        <ng-template matStepLabel>Productos Asociados</ng-template>
                                        <div class="pt-2">
                                            <ngx-productos-asociados></ngx-productos-asociados>
                                        </div>
                                        <div class="d-flex justify-content-between p-3">
                                            <button class="btn btn-primary text-light" matStepperPrevious>Atrás</button>
                                            <button class="btn btn-primary text-light" matStepperNext>Siguiente</button>
                                        </div>
                                    </mat-step>
                                    <mat-step>
                                        <ng-template matStepLabel>Datos de Responsable</ng-template>
                                        <div class="pt-2">
                                            <ngx-seleccion-datos-generales></ngx-seleccion-datos-generales>
                                        </div>
                                        <div class="d-flex justify-content-between p-3">
                                            <button class="btn btn-primary text-light" matStepperPrevious>Atrás</button>
                                            <button class="btn btn-primary text-light" matStepperNext>Siguiente</button>
                                        </div>
                                    </mat-step>
                                    <mat-step>
                                        <ng-template matStepLabel>Codificación UNSPSC</ng-template>
                                        <div class="py-2">
                                            <ngx-tabla-codificacion-arka></ngx-tabla-codificacion-arka>
                                        </div>
                                        <div class="d-flex justify-content-between p-3">
                                            <button class="btn btn-primary text-light" matStepperPrevious>Atrás</button>
                                            <button class="btn btn-primary text-light" matStepperNext>Siguiente</button>
                                        </div>
                                    </mat-step>
                                    <mat-step *ngIf="TipoDePlan">
                                        <ng-template matStepLabel>Actividad y Fuente de Financiamiento</ng-template>
                                        <div class="pt-2">
                                            <ngx-seleccion-fuente></ngx-seleccion-fuente>
                                        </div>
                                        <div class="d-flex justify-content-between p-3">
                                            <button class="btn btn-primary text-light" matStepperPrevious>Atrás</button>
                                            <button class="btn btn-primary text-light" [disabled]="!Guardar"
                                            (click)="OnSubmit()" >Guardar</button>
                                        </div>
                                    </mat-step>
                                    <mat-step *ngIf="!TipoDePlan">
                                        <ng-template matStepLabel>Actividades y Fuentes de Financiamiento</ng-template>
                                        <div class="py-2">
                                            <ngx-tabla-actividades-fuentes></ngx-tabla-actividades-fuentes>
                                        </div>
                                        <div class="d-flex justify-content-between p-3">
                                            <button class="btn btn-primary text-light" matStepperPrevious>Atrás</button>
                                            <button class="btn btn-primary text-light" [disabled]="!Guardar"
                                                (click)="OnSubmit()">Guardar</button>
                                        </div>
                                    </mat-step>
                                    <!-- <mat-step *ngIf="!TipoDePlan">
                                        <ng-template matStepLabel>Ficha de Estadisticas Basicas de Inversion y Metodologia General Ajustada</ng-template>
                                        <div class="py-2">
                                            <ngx-tabla-ficha-tecnica></ngx-tabla-ficha-tecnica>
                                        </div>
                                        <div class="d-flex justify-content-between p-3">
                                            <button class="btn btn-primary text-light" matStepperPrevious>Atrás</button>
                                            <button class="btn btn-primary text-light" [disabled]="!Guardar"
                                                (click)="OnSubmit()">Guardar</button>
                                        </div>
                                    </mat-step> -->
                                </mat-vertical-stepper>
                                <ngx-btn-volver></ngx-btn-volver>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
