<div class="container">
    <div class="row">
        <div class="col py-2">
            <h5 class="card-title text-center text-primary">PLAN DE ADQUISICIONES</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 px-0" *ngIf="datos && configuracion">
            <ng-container *ngFor="let table of configuracion; index as i">
                <div class="py-2">
                    <ngx-general-table [config]="table" [datos]="datos[i]"></ngx-general-table>
                </div>
            </ng-container>
        </div>
        <div class="col-12" *ngIf="!datos && !configuracion">
            <div class="d-flex justify-content-center">
                <div class="spinner-grow text-primary" role="status"></div>
            </div>
        </div>
        <div class="col-12">
            <ngx-btn-volver></ngx-btn-volver>
        </div>
    </div>
</div>