<div class="container">
    <div class="row">
        <div class="col-3 pt-3 border-right border-dark d-flex align-items-center justify-content-end text-right">
            <p>Fuente de Recurso:</p>
        </div>
        <div class="col-3 pt-3">
            <ng-container *ngIf="!fuentesRecurso">
                <div class="d-flex justify-content-center">
                    <div class="spinner-grow text-primary" role="status"></div>
                </div>
            </ng-container>
            <ng-container *ngIf="fuentesRecurso">
                <div class="form-group">
                    <span class="form-control overflow">

                    </span>
                </div>
            </ng-container>
        </div>
        <div class="col-6 pt-3">
            <div class="form-group">
                <span class="form-control overflow">

                </span>
            </div>
        </div>
        <div class="col-3 border-right border-dark d-flex align-items-center justify-content-end text-right">
            <p>Rubro:</p>
        </div>
        <div class="col-9">
            <div class="container-fluid px-0">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="form-group">
                            <span class="form-control overflow">

                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="form-group mb-0">
                            <span class="form-control overflow">

                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>