<div class="container" *ngIf="fuente && rubro">
    <div class="row">
        <div class="col-3 pt-3 border-right border-dark d-flex align-items-center justify-content-end text-right">
            <p>{{ 'GLOBAL.fuente_recurso' | translate}}:</p>
        </div>
        <div class="col-3 pt-3">
            <div class="form-group">
                <span class="form-control overflow">
                    {{fuente.FuenteData.Codigo}}
                </span>
            </div>
        </div>
        <div class="col-6 pt-3">
            <div class="form-group">
                <span class="form-control overflow">
                    {{fuente.FuenteData.Nombre}}
                </span>
            </div>
        </div>
        <div class="col-3 border-right border-dark d-flex align-items-center justify-content-end text-right">
            <p>{{ 'GLOBAL.rubro' | translate }}:</p>
        </div>
        <div class="col-9">
            <div class="container-fluid px-0">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="form-group">
                            <span class="form-control overflow">
                                {{rubro.RubroInfo.Codigo}}
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="form-group mb-0">
                            <span class="form-control overflow">
                                {{rubro.RubroInfo.Nombre}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>