<div class="container" *ngIf="Mostrar">
    <div class="row">
        <div class="col">
            <ngx-datos-generales-iniciales [Title]="titulo" [Disabled]="true"></ngx-datos-generales-iniciales>
        </div>
    </div>
    <div class="row">
        <div class="col py-2"></div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 pr-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <ngx-table-metas></ngx-table-metas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 pl-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <ngx-form-metas></ngx-form-metas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-end">
            <ngx-btn-volver></ngx-btn-volver>
        </div>
    </div>
</div>