<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- <ngx-general-table [config]="configuracion" [datos]="datosPrueba"></ngx-general-table> -->
                    <!-- <ngx-general-table [config]="configuracion2" [datos]="datosPrueba2"></ngx-general-table> -->
                    <!-- <ng-container *ngFor="let datos of datosPrueba, index as i">
                        <ngx-tabla-plan-adquisiciones [config]="configuracion" [datos]="datos"></ngx-tabla-plan-adquisiciones>
                    </ng-container> -->
                </div>
            </div>
        </div>
    </div>
</div>