<form [formGroup]="DatosGeneralesForm" *ngIf="DatosGeneralesForm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 pt-3 border-right border-dark d-flex align-items-center justify-content-end text-right">
                <p>{{ 'GLOBAL.fecha_inicio_fin_proceso_seleccion' | translate }}:</p>
            </div>
            <div class="col-9 pt-3">
                <input class="form-control" placeholder="{{ 'GLOBAL.seleccionar_fecha_inicio_fecha_finalizacion' | translate }}" [nbDatepicker]="rangePickerFechaInicioSeleccion" formControlName="FechaInicioSeleccion">
                <nb-rangepicker #rangePickerFechaInicioSeleccion></nb-rangepicker>
            </div>
            <div class="col-3 pt-3 border-right border-dark d-flex align-items-center justify-content-end text-right">
                <p>{{ 'GLOBAL.duracion_contrato' | translate }}:</p>
            </div>
            <div class="col-9 pt-3">
                <span class="form-control">{{DatosGeneralesForm.value.FechaInicioSeleccion | timeRange }}</span>
            </div>
            <div class="col-3 pt-3 border-right border-dark d-flex align-items-center justify-content-end text-right">
                <p>{{ 'GLOBAL.fecha_inicio_fin_ofertas' | translate }}:</p>
            </div>
            <div class="col-9 pt-3">
                <input class="form-control" placeholder="{{ 'GLOBAL.seleccionar_fecha_inicio_fecha_finalizacion_ofertas' | translate }}" [nbDatepicker]="rangePickerFechasEntregaOfertas" formControlName="FechasEntregaOfertas">
                <nb-rangepicker #rangePickerFechasEntregaOfertas></nb-rangepicker>
            </div>
                        <div class="col-3 pt-3 border-right border-dark d-flex align-items-center justify-content-end text-right">
                <p>{{ 'GLOBAL.duracion_ofertas' | translate }}:</p>
            </div>
            <div class="col-9 pt-3">
                <span class="form-control">{{DatosGeneralesForm.value.FechasEntregaOfertas | timeRange }}</span>
            </div>
            <div class="col-3 pt-3 border-right border-dark d-flex align-items-center justify-content-end text-right">
                <p>{{ 'GLOBAL.responsable_estudio_conveniencia_oportunidad' | translate }}:</p>
            </div>
            <div class="col-9 pt-3">
                <ng-container *ngIf="Responsables">
                    <div class="form-group">
                        <mat-select class="form-control" formControlName="Responsable">
                            <cdk-virtual-scroll-viewport itemSize="50" minBufferPx="200" maxBufferPx="400"
                                class="example-viewport selector">
                                <mat-option *cdkVirtualFor="let state of Responsables" class="example-item selector"
                                    [value]="state">{{state.Nombre}}</mat-option>
                            </cdk-virtual-scroll-viewport>
                        </mat-select>
                    </div>
                </ng-container>
            </div>
            <div class="col-3 border-right border-dark d-flex align-items-center justify-content-end text-right">
                <p>{{ 'GLOBAL.modalidad_seleccion' | translate }}:</p>
            </div>
            <div class="col-9">
                <ngx-modalidades-seleccion></ngx-modalidades-seleccion>
            </div>
        </div>
    </div>
</form>