<div class="container" *ngIf="Info">
    <div class="row">
        <div class="col">
            <ngx-datos-generales-iniciales [Title]="titulo" [Disabled]="true"></ngx-datos-generales-iniciales>
        </div>
    </div>
    <div class="row">
        <div class="col py-2"></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <mat-vertical-stepper>
                                    <mat-step>
                                        <ng-template matStepLabel>{{ 'RUBRO.rubro_asociado' | translate}}</ng-template>
                                        <div class="pt-2">
                                            <ngx-detalle-rubro [datos]="Info" ></ngx-detalle-rubro>
                                        </div>
                                        <div class="d-flex justify-content-end p-3">
                                            <button class="btn btn-primary text-light" matStepperNext>{{ 'GLOBAL.siguiente' | translate}}</button>
                                        </div>
                                    </mat-step>
                                    <mat-step *ngIf="!TipoDePlan">
                                        <ng-template matStepLabel>{{ 'META.metas_asociadas' | translate }}</ng-template>
                                        <div class="pt-2">
                                            <ngx-detalle-metas-asociadas [datos]="Info" ></ngx-detalle-metas-asociadas>
                                        </div>
                                        <div class="d-flex justify-content-between p-3">
                                            <button class="btn btn-primary text-light" matStepperPrevious>Atrás</button>
                                            <button class="btn btn-primary text-light" matStepperNext>Siguiente</button>
                                        </div>
                                    </mat-step>
                                    <mat-step *ngIf="!TipoDePlan">
                                        <ng-template matStepLabel>{{ 'PRODUCTOS.productos_asociados' | translate}}</ng-template>
                                        <div class="pt-2">
                                            <ngx-detalle-productos-asociadas [datos]="Info"></ngx-detalle-productos-asociadas>
                                        </div>
                                        <div class="d-flex justify-content-between p-3">
                                            <button class="btn btn-primary text-light" matStepperPrevious>Atrás</button>
                                            <button class="btn btn-primary text-light" matStepperNext>Siguiente</button>
                                        </div>
                                    </mat-step>
                                    <mat-step>
                                        <ng-template matStepLabel>{{ 'GLOBAL.datos_responsable' | translate}}</ng-template>
                                        <div class="pt-2">
                                            <ngx-detalle-datos-generales [datos]="Info"></ngx-detalle-datos-generales>
                                        </div>
                                        <div class="d-flex justify-content-between p-3">
                                            <button class="btn btn-primary text-light" matStepperPrevious>{{ 'GLOBAL.atras' | translate}}</button>
                                            <button class="btn btn-primary text-light" matStepperNext>{{ 'GLOBAL.siguiente' | translate}}</button>
                                        </div>
                                    </mat-step>
                                    <mat-step>
                                        <ng-template matStepLabel>{{ 'GLOBAL.codificacion_unspsc' | translate}}</ng-template>
                                        <div class="py-2">
                                            <ngx-detalle-elementos-arka [datos]="Info"></ngx-detalle-elementos-arka>
                                        </div>
                                        <div class="d-flex justify-content-between p-3">
                                            <button class="btn btn-primary text-light" matStepperPrevious>{{ 'GLOBAL.atras' | translate}}</button>
                                            <button class="btn btn-primary text-light" matStepperNext>{{ 'GLOBAL.siguiente' | translate}}</button>
                                        </div>
                                    </mat-step>
                                    <mat-step *ngIf="TipoDePlan">
                                        <ng-template matStepLabel>{{ 'ACTIVIDAD.actividad' | translate }} y {{ 'GLOBAL.fuente_financiamiento' | translate}}</ng-template>
                                        <div class="pt-2">
                                            <ngx-detalle-actividad-fuente [datos]="Info"></ngx-detalle-actividad-fuente>
                                        </div>
                                        <div class="d-flex justify-content-between p-3">
                                            <button class="btn btn-primary text-light" matStepperPrevious>{{ 'GLOBAL.atras' | translate}}</button>
                                            <button class="btn btn-primary text-light" matStepperNext>{{ 'GLOBAL.siguiente' | translate}}</button>
                                        </div>
                                    </mat-step>
                                    <mat-step *ngIf="!TipoDePlan">
                                        <ng-template matStepLabel>{{ 'ACTIVIDAD.actividades' | translate }} y {{ 'GLOBAL.fuente_financiamiento' | translate}}</ng-template>
                                        <div class="py-2">
                                            <ngx-detalle-actividades-fuentes [datos]="Info"></ngx-detalle-actividades-fuentes>
                                        </div>
                                        <div class="d-flex justify-content-between p-3">
                                            <button class="btn btn-primary text-light" matStepperPrevious>{{ 'GLOBAL.atras' | translate}}</button>
                                        </div>
                                    </mat-step>
                                </mat-vertical-stepper>
                                <ngx-btn-volver></ngx-btn-volver>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>