<div class="container-fluid">
    <div class="row">
        <div class="col-3 pt-3 border-right border-dark d-flex align-items-center justify-content-end text-right">
            <p>{{ 'GLOBAL.fecha_inicio_proceso_seleccion' | translate }}:</p>
        </div>
        <div class="col-9 pt-3">
            <input class="form-control" [nbDatepicker]="rangepicker" [(ngModel)]="datos.FechaEstimada">
            <nb-rangepicker #rangepicker></nb-rangepicker>
        </div>
        <div class="col-3 pt-3 border-right border-dark d-flex align-items-center justify-content-end text-right">
            <p>{{ 'GLOBAL.duracion_contrato' | translate }}:</p>
        </div>
        <div class="col-9 pt-3">
            <span class="form-control">{{datos.FechaEstimada | timeRange }}: </span>
        </div>
        <div class="col-3 pt-3 border-right border-dark d-flex align-items-center justify-content-end text-right">
            <p>{{ 'GLOBAL.responsable_estudio_conveniencia_oportunidad' | translate }}:</p>
        </div>
        <div class="col-9 pt-3">
            <ng-container >
                <div class="form-group">
                    <span class="form-control overflow">
                        {{datos.ResponsableNombre}}
                    </span>
                </div>
            </ng-container>
        </div>
        <div class="col-3 border-right border-dark d-flex align-items-center justify-content-end text-right">
            <p>{{ 'GLOBAL.modalidad_seleccion' | translate }}</p>
        </div>
        <div class="col-9">
            <div class="container">
                <div class="row py-2" *ngFor="let item of datos.ModalidadSeleccion">
                    <div class="col-12">
                        <span class="form-control overflow">
                            {{item}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>