<div mat-dialog-content class="container-fluid m-0">
    <div class="row" *ngIf="!ActividadFuentesForm">
        <div class="col">
            <div class="d-flex justify-content-center">
                <div class="spinner-grow text-primary" role="status"></div>
            </div>
        </div>
    </div>
    <form [formGroup]="ActividadFuentesForm" *ngIf="ActividadFuentesForm">
        <div class="row">
            <div class="col py-2">
                <h5 class="card-title text-center text-primary">{{titulo}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col py-2"></div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-4">
                <div class="form-group">
                    <label>{{ 'GLOBAL.codigo' | translate}}:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend" *ngIf="boton !== 'Editar'">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#ModalVerActividades">
                                <i class="fas fa-list-ul"></i>
                            </button>
                        </div>
                        <mat-select class="form-control" formControlName="Actividad">
                            <cdk-virtual-scroll-viewport itemSize="50" minBufferPx="200" maxBufferPx="400"
                                class="example-viewport selector">
                                <mat-option *cdkVirtualFor="let actividad of Actividades" class="example-item selector"
                                    [value]="actividad">
                                    {{actividad.Numero}}.{{actividad.MetaId.Numero}}
                                </mat-option>
                            </cdk-virtual-scroll-viewport>
                        </mat-select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-8">
                <div class="form-group">
                    <label>{{ 'GLOBAL.nombre' | translate}}:</label>
                    <span class="form-control overflow selector">
                        {{ActividadFuentesForm.get('Actividad').value ?
                        ActividadFuentesForm.get('Actividad').value.Nombre : '' }}
                    </span>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>{{ 'GLOBAL.valor' | translate}}:</label>
                    <input currencyMask type="text" [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }"
                        class="form-control text-left" placeholder="Valor" formControlName="Valor">
                </div>
            </div>
            <div class="col-12">
                <ngx-general-table [config]="configuracion" [datos]="Datos"></ngx-general-table>
            </div>
            <div class="col-6 d-flex justify-content-start">
                <button [disabled]="ActividadFuentesForm.invalid || !ActividadFuentesForm.touched" type="button"
                    class="btn btn-primary px-3 py-2 my-3 text-light" (click)="OnSubmit()">
                    {{boton}}
                </button>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <button type="button" class="btn btn-light px-3 py-2 my-3 border" (click)="OnClose()">{{ 'GLOBAL.cancelar' | translate}}</button>
            </div>
        </div>
    </form>
</div>

<!-- Modal -->
<div *ngIf="Actividades" class="modal fade" id="ModalVerActividades" tabindex="-1" role="dialog"
    aria-labelledby="ModalVerActividadesLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <ngx-ver-actividades [datos]="Actividades"></ngx-ver-actividades>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light ml-auto" data-dismiss="modal">{{ 'GLOBAL.cerrar' | translate}}</button>
            </div>
        </div>
    </div>
</div>
